<h3>
    {{ title }}
</h3>

{{ numberOfEmployees }}

{{ myNumber }}

<hr>
Employee Details:
<hr>
Employee No: {{ employee.emp_no }}
<br>
First name: {{ employee.first_name }}
<br>
Last name: {{ employee.last_name }}

<hr>
Actors
<hr>

<ul>
    <li *ngFor="let actor of actors">
        {{ actor }}
    </li>
</ul>

<hr>
Table of Employees
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Emp No</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of listOfEmployees">
            <td>{{ employee.emp_no }}</td>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
        </tr>
    </tbody>
</table>

<hr>
Data Binding
<br>
{{ cityName }}
<br>
Change City : <input type="text" [(ngModel)]="cityName"/>

<input type="submit" (click)="submit()">

<br>
<br>
<br>

<hr>
2-way data binding with objects
<br>
{{ employee | json }}
<br>
<input type="text" [(ngModel)]="employee.emp_no"/>
<input type="text" [(ngModel)]="employee.first_name"/>
<input type="text" [(ngModel)]="employee.last_name"/>

<br>
<br>
<br>