
<div *ngIf="selectedEmployeeObject"> 
    <a class="btn btn-sm btn-info" (click)="goBack()">
    Go Back
  </a>

  <h3>
    Employee Details 
  </h3>
  Emp No: : {{ selectedEmployeeObject.emp_no }}
  <br>
  First Name : : {{ selectedEmployeeObject.first_name }}
  <br>
  Last Name : : {{ selectedEmployeeObject.last_name }}
  <br>
  Full Name : {{ selectedEmployeeObject.full_name }}
  <br>

  <a class="btn btn-sm btn-info"
      [routerLink]="['/employees', employeeId, 'edit']">
    Edit Employee
  </a>

</div>