<div>
    
    <h3>
        Super Apps with Angular and Node.js
    </h3>
</div>

<!--<app-home></app-home>

<app-about></app-about>

<employees></employees>-->

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Emp No</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of gridData" 
            (click)="showEmployee(employee)"
            [class.active]="employee === selectedEmployee">
            <td>{{ employee.emp_no }}</td>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
        </tr>
    </tbody>
</table>
<!--<employee-details [employee]="employeeFromAppComponent">-->
<employee-details [employee]="selectedEmployee">
</employee-details>