<!--<app-home></app-home>

<app-about></app-about>

<employees></employees>-->

<hr>
<h3>
    List of Employees
</h3>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Emp No </th>
            <th>First name</th>
            <th>Last name </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let employee of gridData"
            (click)="showEmployeeDetails(employee)"
            [class.active]="selectedEmployee === employee">
            <td>{{employee.emp_no}}</td>
            <td>{{employee.first_name}}</td>
            <td>{{employee.last_name}}</td>
        </tr>
    </tbody>
</table>

<create-employee (employeeCreated)="handleEmployeeCreation($event)"></create-employee>


<br>
<br>
<br>

<label [class.blueTheme]="true">Ilayraraja Music is soulful</label>
<br>
Demo of ngClass
<br>
<label [ngClass]="themeObject">Ilayraraja Music is soulful</label>
<br>
<input type="submit" value="Toggle Theme" 
    (click)="toggleTheme()" />

<employee-details [employee]="selectedEmployee">
    
</employee-details>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>